button{
    height: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30rem;
    border: none;
    background-color: rgb(102,116,204);
    color: white;
    transition: ease-in-out all .3s;
}


button:hover{
    background-color: rgb(48, 71, 218);
}
button:active{
    background-color: green;
}