.navbarContainer{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
    background-color: #0F0F0F;
    box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.474);
}

.navcontainer{
    display: flex;
    justify-content: space-around;
    color: white;
}

.navLinks{
    padding-left: 20px;
    padding-right: 20px;
}

.navcontainerright button{
    margin-right: 20px;
}